.body{
    font-family:Arial,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**Header*/

 header{
    background: blue;
    text-align: center;
    padding:  25px 0;
    
}

a{
    text-decoration: none;
    color: green;
}


.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 100px;
    margin-right: 10px;
}


nav a{
  display:inline-block;
  text-decoration: none;
  color: yellow;
  margin:  0 30px;
  padding: 5px 15px;
  border-radius: 20px;
}

nav a:hover{
    background-color: white;
    color: red;
}

.encabezado-img{
    background-image: url("https://img.freepik.com/fotos-premium/fondo-joyeria-disenador-elegante-ai-generativo-sensacion-real_753390-983.jpg");
     height: 500px;
     background-size: cover;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: white;
}

.encabezado-img p {
    font-size: 20px;
}

.encabezado-img h2{
    font-size: 50px;
    padding: 20px;
}







/*display */

.display {
    background: pink;
    height: 200px;
    width: 200px;
    margin: 20px;
}

#{
    background: salmon;
    width: 200px;
    height: 200px;
    margin: 20px;
}

button{
    background: cyan;
    width: 200px;
    height: 100px;
    margin: 20px;
}



/*display grid*/


.container1{
    display: grid;
    background: papayawhip;
    width: 400px;
    height: 400px;
    grid-template-columns: 1fr 1fr 1fr 1fr ; 

}

.container1 .item::nth-child(1){
    background: yellow;
    grid-column: 1/2;
}

.container1 .item::nth-child(2){
   grid-column: 2/3;
   grid-row: 2/3;
}

.container1 .item::nth-child(3){
    grid-column: 3/4;
    grid-column: 3/4;
}


/*flexbox*/

.container2{
    display: flex;
    background: salmon;
    justify-content: center;
    height: 200px;
    flex-direction: column;

}

.item2{
    width: 50px;
    height: 50px;
    background: cyan;
}



@media (max-width:700px){
  header{
    flex-direction: column;
  }
}